<section>
  <div class="charisHome">
    <h2 class="gText text-uppercase fw-bolder ms-3 mb-4">{{ category }}</h2>
  </div>
</section>

<section>
  <div class="container-fluid gallery">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 categorey-section" *ngFor="let product of products">
        <div class="chairCard">
          <div class="img">
            <img [src]="product.imageUrl" [alt]="product.name" class="chairImg"
              [routerLink]="['/details', product.id]" />
          </div>
          <div class="info">
            <p class="pstatus">{{ product.status }}</p>
            <div class="pname">{{ product.name }}</div>
          </div>
          <div class="price">
            <span>{{ product.price }}$</span>
            <div class="view">
              <p class="gText hover" (click)="addToCart(product)">ADD TO CART</p>
              <p class="gText hover">QUICKVIEW</p>
              <i class="fa-regular fa-heart" (click)="addToWishlist($event, product)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>