<!-- Hero-Page| START -->
<div id="hero-page" data-aos="zoom-in" data-aos-duration="1800">
  <div class="hero-slides container-fluid">
    <div class="card">
      <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active home-silde-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1920 1080"
                preserveAspectRatio="xMidYMid meet"
              >
                <g fill="none" fill-rule="evenodd">
                  <!-- Animated lines -->
                  <line
                    class="animated-line"
                    x1="0"
                    y1="856.513433"
                    x2="1920"
                    y2="201.5"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="519.4875"
                    y1="679.48665"
                    x2="792"
                    y2="1079.51335"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1190.51242"
                    y1="449.514039"
                    x2="859.487585"
                    y2="0"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1631.5125"
                    y1="300.486284"
                    x2="1281.4875"
                    y2="1079.51372"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1565.48764"
                    y1="447.486807"
                    x2="1920"
                    y2="815.513193"
                    stroke="#fff"
                    stroke-width="0"
                  />
                </g>
              </svg>
              <div class="home-silde-layer">
                <div class="silde-content" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500">
                  <h4>NEW COLLECTION</h4>
                  <h1>DELORES</h1>
                  <p>An exclusive selection of this season's trends.</p>
                  <h6>shop now</h6>
                </div>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item home-silde-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1920 1080"
                preserveAspectRatio="xMidYMid meet"
              >
                <g fill="none" fill-rule="evenodd">
                  <!-- Animated lines -->
                  <line
                    class="animated-line"
                    x1="0"
                    y1="856.513433"
                    x2="1920"
                    y2="201.5"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="519.4875"
                    y1="679.48665"
                    x2="792"
                    y2="1079.51335"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1190.51242"
                    y1="449.514039"
                    x2="859.487585"
                    y2="0"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1631.5125"
                    y1="300.486284"
                    x2="1281.4875"
                    y2="1079.51372"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1565.48764"
                    y1="447.486807"
                    x2="1920"
                    y2="815.513193"
                    stroke="#fff"
                    stroke-width="0"
                  />
                </g>
              </svg>
              <div class="home-silde-layer">
                <div class="silde-content"  >
                  <h4>NEW COLLECTION</h4>
                  <h1>DELORES</h1>
                  <p>An exclusive selection of this season's trends.</p>
                  <h6>shop now</h6>
                </div>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item home-silde-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1920 1080"
                preserveAspectRatio="xMidYMid meet"
              >
                <g fill="none" fill-rule="evenodd">
                  <!-- Animated lines -->
                  <line
                    class="animated-line"
                    x1="0"
                    y1="856.513433"
                    x2="1920"
                    y2="201.5"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="519.4875"
                    y1="679.48665"
                    x2="792"
                    y2="1079.51335"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1190.51242"
                    y1="449.514039"
                    x2="859.487585"
                    y2="0"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1631.5125"
                    y1="300.486284"
                    x2="1281.4875"
                    y2="1079.51372"
                    stroke="#fff"
                    stroke-width="0"
                  />
                  <line
                    class="animated-line"
                    x1="1565.48764"
                    y1="447.486807"
                    x2="1920"
                    y2="815.513193"
                    stroke="#fff"
                    stroke-width="0"
                  />
                </g>
              </svg>
              <div class="home-silde-layer">
                <div class="silde-content">
                  <h4>NEW COLLECTION</h4>
                  <h1>DELORES</h1>
                  <p>An exclusive selection of this season's trends.</p>
                  <h6>shop now</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-content">
          <div class="hero-email">
            <a href="">care.reytheme.com</a>
          </div>
          <div class="hero-links">
            <h4>FOLLOW US</h4>
            <a href="#homePage" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#homePage" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero-Page| END -->

<!-- start of our-fav -->
<div class="slider" id="slider" data-aos="fade-up">
  <h1 class="text-center fs-2 bText ">OUR FAVORITES</h1>
  <p class="text-center">Our weekly picks right here.</p>
  <div class="slide" id="slide">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
    <img class="item" src="/assets/IMGS/Screenshot 2024-09-30 025130.png">
  </div>
  <button class="ctrl-btn pro-prev">Prev</button>
  <button class="ctrl-btn pro-next">Next</button>
</div>
<!-- end of our-fav -->

<!-- start featuredCategories -->
<section id="featuredCategories" class="my-5" data-aos="fade-up">
  <div class="categoriesHome">
    <div>
      <h2 class="text-center fs-2 bText" data-aos="fade-up">
        FEATURED CATEGORIES
      </h2>
      <div data-aos="fade-up" data-aos-delay="200">
        <p class="text-center">Fresh and modern design that instantly <br>
        rejuventes your space</p>
    
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="cardImgDiv mb-5">
          <div class="overflow-hidden">
            <img
              src="/assets/IMGS/card1.jpg"
              alt="Accent Chairs"
              class="imgEffect"
              routerLink="/chairs"
            />
          </div>
          <p class="text-uppercase mt-3 text-secondary">Accent Chairs</p>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="cardImgDiv pt-5 mb-5">
          <div>
            <div class="overflow-hidden">
              <img
                routerLink="/storage"
                src="/assets/IMGS/card2A.jpg"
                alt="Storage"
                class="imgEffect"
                routerLink="/storage"
              />
            </div>
            <p class="text-uppercase mt-3 text-secondary">Storage</p>
          </div>
          <div>
            <div class="overflow-hidden">
              <img
                src="/assets/IMGS/card2B.jpg"
                alt="Beds"
                class="imgEffect mt-4"
                routerLink="/beds"
              />
            </div>
            <p class="text-uppercase mt-3 text-secondary">Beds</p>
          </div>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="cardImgDiv pt-3 mb-5">
          <div class="overflow-hidden">
            <img
              src="/assets/IMGS/card3.jpg"
              alt="Tables"
              class="imgEffect"
              routerLink="/tables"
            />
          </div>
          <p class="text-uppercase mb-3 pt-5 text-secondary">Tables</p>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-6 col-lg-3"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="cardImgDiv mb-5">
          <div class="overflow-hidden">
            <img
              src="/assets/IMGS/card4.jpg"
              alt="lighting"
              class="imgEffect"
              routerLink="/lighting"
            />
          </div>
          <p class="text-uppercase mt-3 text-secondary">lighting</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end featuredCategories -->

<!-- start SOFABEDS -->
<section data-aos="fade-up">
  <div class="sofabeds">
    <div class="container">
      <!-- start header part1 -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-right">
          <h1 class="h1-sofabeds text-center fs-2 bText">SOFABEDS</h1>
        </div>
        <!-- end header part1 -->
        <!-- start header part2 -->
        <div class="col-lg-8 col-md-6 col-sm-12" data-aos="fade-left">
          <p class="p-sofabeds text-muted">
            Casual multifunctional sofabeds with head elevation: a comfortable
            sofa at daytime transforms into changes to a very comfortable bed at
            night.
          </p>
          <button class="btn-sofabed">
            <a href="http://" class="link-sofabeds">SHOP NOW</a>
          </button>
        </div>
        <!-- end header part2 -->
      </div>
      <!-- start images sofabeds -->
      <br />
      <div class="row g-5">
        <div
          class="col-lg-6 col-md-6 col-sm-12"
          data-aos="fade-right"
          data-aos-delay="200"
        >
          <img
            src="/assets/IMGS/posters-in-flat-interior-P7YFVWE.jpg"
            alt="SOFABEDS"
            class="img-1"
          />
        </div>
        <div
          class="col-lg-6 col-md-6 col-sm-12"
          data-aos="fade-left"
          data-aos-delay="200"
        >
          <img
            src="/assets/IMGS/teal-bar-stools-PWX82EQ-1.jpg"
            alt="SOFABEDS"
            class="img-2"
          />
        </div>
      </div>
      <!-- end images sofabeds -->
    </div>
  </div>
</section>
<!-- end SOFABEDS -->

<!-- ============== Viedo-Page| START ============== -->
<div class="video-page pt-5 mb-5" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row g-5">
      <div class="col-lg-5 col-md-12" data-aos="fade-right">
        <img src="assets/IMGS/video-img-1.jpg" class="w-100 mt-5" />
      </div>
      <div class="col-lg-7 col-md-12 video-right" data-aos="fade-left">
        <div class="video-logo">
          <p class="text-muted fw-light">
            "Quality into the fashion conscious home."
          </p>
          <img src="/assets/IMGS/video-logo.png" />
        </div>
        <div class="video-box">
          <iframe
            width="250"
            height="150"
            src="https://www.youtube.com/embed/7vcpK-FUq8I"
            title="MADE.COM Sale TV advert"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
          </iframe>
          <div>
            <p class="fs-6 fw-light mt-xs-3">
              Conveniently create market-driven synergy rather than
              enterprise-wide materials. Energistically integrate cost effective
              technologies whereas highly efficient internal or "organic"
              sources. <br />
              <br />
              Completely pontificate principle-centered materials through
              stand-alone information. Competently exploit wireless
              methodologies without highly efficient customer service.
              Objectively evolve wireless scenarios through global synergy.
            </p>
            <div class="mt-3">
              <a href="#hero-page">READ OUR STORY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================== Video-Page| END ================== -->

<!-- start joinForm -->
<section id="joinForm" class="my-5" data-aos="fade-up">
  <div class="categoriesHome">
    <div class="container">
      <div class="w-100 m-auto row">
        <div class="col-sm-12 col-md-6 pt-5 mb-5" data-aos="fade-right">
          <div class="ps-5 pt-5">
            <div class="w-75">
              <h3 class="mb-3 fs-2 bText">JOIN THE CLUB</h3>
              <p class="lh-lg">
                Get 10% off your first purchase by joining our mailing list, and
                receive some of the best deals possible.
              </p>
            </div>
            <form>
              <div class="mt-5 inPutDiv ps-3 pt-3">
                <input
                  type="email"
                  name="mail"
                  placeholder="email address"
                  class="w-75 formInPut"
                />
                <button class="ps-4">
                  <p class="text-secondary" type="submit">JOIN NOW</p>
                </button>
              </div>
            </form>
            <p class="mt-5 text-secondary text-uppercase">FOLLOWUS</p>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 bg-light mb-5" data-aos="fade-left">
          <div class="w-75 m-auto ps-4 pt-5">
            <div class="w-75 mb-5">
              <h3 class="mb-3 fs-2 bText">GET THE CATALOGUE</h3>
              <p class="lh-lg">
                Get a free copy of our catalogue, for your inspiration.
              </p>
              <a
                href="#"
                class="text-decoration-none text-secondary text-uppercase"
                >Request</a
              >
            </div>
            <img src="assets/IMGS/formPic.png" class="mb-5 w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End joinForm -->

<!-- start CHOSEN WITH CARE -->
<section data-aos="fade-up">
  <div class="chosen-care">
    <div class="overlay"></div>
    <div class="text-chosen">
      <p class="p1-chosen text-uppercase">Honesty and sustainability</p>
      <h1 class="h1-chosen">CHOSEN WITH CARE</h1>
    </div>
  </div>
  <p class="p2-chosen text-muted">
    Our furniture is made from natural materials, selected with consideration
    <br />
    and respect for nature, environment and people.
  </p>
</section>
<!-- end CHOSEN WITH CARE -->

<!-- Start stories  -->
<div class="stories" data-aos="fade-up">
  <h2 class="story text-center fs-2 bText">STORIES</h2>
  <div class="container">
    <div class="row">
      <div class="item p-2 col-lg-6 col-md-6 col-sm-12" data-aos="fade-right">
        <img
          src="/assets/IMGS/Screenshot 2024-09-30 213416.png"
          class="w-100 mb-3"
        />
        <h5>
          <B
            >Objectively build market-driven metrics via client-focused niche
            markets</B
          >
        </h5>
        <p
          style="
            color: #484f56;
            font-family: Lato Helvetica Neue Helvetica Arial sans-serif;
          "
        >
          Assertively whiteboard error-free growth strategies and intuitive
          leadership. Dynamically pursue interdependent supply chains after
          quality applications. Dramatically build cost…
        </p>
      </div>
      <div class="item p-2 col-lg-6 col-md-6 col-sm-12" data-aos="fade-left">
        <img
          src="/assets/IMGS/Screenshot 2024-09-30 213421.png"
          class="w-100 mb-3"
        />
        <h5>
          <B
            >Objectively build market-driven metrics via client-focused niche
            markets</B
          >
        </h5>
        <p
          style="
            color: #484f56;
            font-family: Lato Helvetica Neue Helvetica Arial sans-serif;
          "
        >
          Assertively whiteboard error-free growth strategies and intuitive
          leadership. Dynamically pursue interdependent supply chains after
          quality applications. Dramatically build cost…
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End stories  -->

<!-- Gallery-Page| START -->
<div class="gallery-page mt-5 pt-5" data-aos="fade-up">
  <div class="container-fluid">
    <div class="gallery-title text-center">
      <h6>#REYTHEME</h6>
      <p class="fw-light">
        Remember to show off your new purchase on insta by tagging us and
        <span class="fw-bold"> get $20 off</span> your next order.
      </p>
      <a href="#hero-page"> FOLLOW US ON INSTAGRAM</a>
    </div>

    <div class="gallery-photes mt-5">
      <div class="row g-3">
        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-1.jpeg" class="w-100" data-tilt />
        </div>

        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-2.jpeg" class="w-100" />
        </div>

        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-3.jpeg" class="w-100" />
        </div>

        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-4.jpeg" class="w-100" />
        </div>

        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-5.jpeg" class="w-100" />
        </div>

        <div class="col-lg-2 col-md-6" appVanillaTilt>
          <img src="/assets/IMGS/G-6.jpeg" class="w-100" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery-Page| END -->
