<!-- footer -->
<footer>
  <div class="footer-container container">
    <div class="footer-section contact-info">
      <img src="/assets/IMGS/logo-blue-2.svg" alt="" class="footer-img" />
      <p>17 Irving Pl, New York, NY 10003</p>
      <div class="social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <p>Yes, we ship to Egypt!</p>
      </div>
    </div>
    <div class="footer-section">
      <p>care&#46;reytheme.com</p>
      <p>776 566 999</p>
    </div>
    <div class="footer-section">
      <h4>SHOP</h4>
      <ul>
        <li><a href="#">Beds</a></li>
        <li><a href="#">Chairs</a></li>
        <li><a href="#">Lighting</a></li>
        <li><a href="#">Sofas</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Tables</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>HELP</h4>
      <ul>
        <li><a href="#">Frequently Asked Questions</a></li>
        <li><a href="#">Returns & Exchanges</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>ABOUT</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">My account</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-line"></div>
  <div class="footer-content">
    <p>© rey theme, 2024. All rights reserved.</p>
    <div class="payment-icons">
      <img
        src="/assets/IMGS/Screenshot 2024-10-01 145905.png"
        alt="AmericanExpress"
      />
      <img src="/assets/IMGS/Screenshot 2024-10-01 150344.png" alt="ApplePay" />
      <img src="/assets/IMGS/Screenshot 2024-10-01 160535.png" alt="Googlepay" />
      <img src="/assets/IMGS/Screenshot 2024-10-01 160621.png" alt="MasterCard" />
      <img src="/assets/IMGS/Screenshot 2024-10-01 160631.png" alt="PayPal" />
      <img src="/assets/IMGS/Screenshot 2024-10-01 160637.png" alt="Visa" />
    </div>
  </div>
</footer>
