/* stories */



footer {
  background-color: #f8f8f8;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 70px 0;
}

.footer-section {
  margin: 0 20px;
}

.footer-section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.footer-section p,
.footer-section ul {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  text-decoration: none;
  color: #555;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-media a {
  margin-right: 10px;
  color: #555;
}
.social-media i{
  margin-right:8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.footer-img {
  width: 80px;
  height: 50px;
}

.footer-line {
  background-color: #eaeaea;
  width: 80%;
  height: 20px;
  margin: 30px auto;
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 10px;
  padding: 30px 0;
}

.footer-content p {
  margin: 0;
  color: #777;
}

.payment-icons {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.payment-icons img {
  height: 30px;
  width: auto;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  .footer-content {
    flex-direction: column;
  }
  .payment-icons {
    flex-wrap: wrap;
  }
  .footer-content p {
    margin-bottom: 15px;
  }
}
